<html>
<head>
  <title>WIFIZONE</title>
  <link href="stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="stylesheets/style.css" rel="stylesheet"/>
</head>
<body>

  <div id="overlay">
    <div class="overlay-container">
      <div class="plan_ready_container"></div>
      <h1 class="overlay-h1"></h1>
      <div class="overlay-content"></div>
      <div class="exit-loading"></div>
    </div>
  </div>

  <div id="errorOverlay">
    <div class="error-overlay-container">
      <img class="error-icon" src="/images/error.png"/>
      <h1></h1>
    </div>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-md-8">
        <div class="box head banner">
        </div>
      </div>
      <div class="col-md-4">
        <div class="box head credits">
          <div>
            <h1>CREDITS</h1>
          </div>
          <div class="counter">
            <h1>₱<span id="value"></span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row plans">
      <div class="col-md-4">
        <div class="box hour">
          <div class="row">
  					<div class="col-lg-12 price">
  						<h1 class="price-plan-A">₱</h1>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-lg-12 hours">
  						<h1 class="label-plan-A"></h1>
  					</div>
  				</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box hour">
          <div class="row">
  					<div class="col-lg-12 price">
  						<h1 class="price-plan-B">₱</h1>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-lg-12 hours">
  						<h1 class="label-plan-B"></h1>
  					</div>
  				</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box hour">
          <div class="row">
  					<div class="col-lg-12 price">
  						<h1 class="price-plan-C">₱</h1>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-lg-12 hours">
  						<h1 class="label-plan-C"></h1>
  					</div>
  				</div>
        </div>
      </div>
    </div>
  </div>

  <script src="javascripts/jquery/jquery.min.js"></script>
  <script src="javascripts/wifizone/app.js"></script>
  <script src="javascripts/gamepad/gamepad.js"></script>
  <script src="javascripts/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
