body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.content div[class^="col"] {
    padding: 0.3em;
}

.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.banner {
  background-image: url("../images/wifi-logo.jpg");
  background-color: white !important;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.credits {
  text-align: center;
  padding-top: 2em;
}

.credits .counter h1 {
  color: #B22222;
  font-size: 8em;
}

.plan_ready {
  color: #B22222;
}

.hour {
  text-align: center;
}

.box {
    border-radius: 25px;
    border: 2px solid;
    min-height: 150px;
    background-color: #FFF5EE;
}

.price h1 {
	font-size: 7.5em;
}

.overlay-h1 {
  font-size: 1.3em;
  margin-bottom: 1em;
  color: #B22222;
}

.overlay-content label {
  font-size: 1em;
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.overlay-content {
  border: dashed 2px;
  text-align: center;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.overlay-content input {
  width: 15em;
  font-family: 'Courier New';
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hours h1 {
	font-size: 2em;
}

.hour {
    padding-top: 1em;
    height: 15em;
}

.head {
    height: 22em;
}

.plans {
  margin-top: 0.4em;
}

body {
    background-image: url("../images/darkblue.png");
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
}

.overlay-container {
  border-radius: 25px;
  border: black 10px solid;
  height: 30em;
  width: 45em;
  background-color: #FFF5EE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  padding: 4em;
  font-family: Arial Black;
  text-align: center;
}

.error-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

#errorOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}

.error-overlay-container {
  border-radius: 25px;
  border: #B22222 10px solid;
  height: 20em;
  width: 40em;
  background-color: #FFF5EE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  padding: 4em;
  font-family: Arial Black;
  text-align: center;
}


.timerwrapper {
  height: 2em;
  width: 100%;
  background: black;
  position: relative;
  margin: auto;
}
.shrinking{
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 0;
/*    animation: fillBar 1s ease-in infinite; */
    -webkit-animation-name: fillBar;
        animation-name: fillBar;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
/*    animation-delay: 2s; */
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #B22222;
}

@-webkit-keyframes fillBar {
      0% {
        width: 100%;
      }
      100% {
        width: 0%;
      }
  }
  @keyframes fillBar {
      0% {
        width: 100%;
      }
      100% {
        width: 0%;
      }
  }
